$padding-my-vertical: 2px !default;
$padding-my-horizontal: 9px !default;
.sm_w2_3btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  font-family: $ff;
  font-size: 11px;
  @include button-size($padding-my-vertical, $padding-my-horizontal, 11px, $line-height-base, $border-radius-base);
  @include user-select(none);
  
  @include gradient-vertical(#fff, #efefef);
  &,
  &:active,
  &.sm_w2_3active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.sm_w2_3active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.sm_w2_3disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.sm_w2_3btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.sm_w2_3btn-sm {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  padding-top: 1px;
  padding-bottom: 1px;
}